.box1{
    border: 1px solid black;
    width: 100%;
    height: 75px;
}

.box2{
    border: 1px solid black;
    width: 100%;
    height: 100px;
    margin-top: 0.5%;
}

.box3{
    border: 1px solid black;
    width: 100%;
    height: 15vh;
    margin-top: 0.5%;
}

.box4{
    border: 1px solid black;
    width: 32%;
    height:40vh;
    margin-top: 0.5%;
    float: left;
}

.box5{
    border: 1px solid black;
    width: 32%;
    height:40vh;
    margin-top: 0.5%;
    margin-left: 2%;
    float: left;
}

.box6{
    border: 1px solid black;
    width: 32%;
    height:40vh;
    margin-top: 0.5%;
    margin-left: 0.5%;
    float: right;
}

.box7{
    border: 1px solid black;
    width: 100%;
    height: 5vh;
    margin-top: 21%;
}